## 학번 202110075 이름: 권준영

## 기본 입출력 함수

### print() 함수
    숫자나 문자열 등의 데이터나 수식을 화면에 출력할 때 사용

In [2]:
print(10+20) #( ) 속의연산결과출력
print("서원대학교") #문자열출력
print("abc " * 3) #문자열3번출력
x = 25
y = 32
z = x + y
print(x, y) #변수x, y 값출력
print(x, '+', y, '=',z) #문자열과변수의조합출력

30
서원대학교
abc abc abc
25 32
25 + 32 = 57

### print() 함수-서식 지정
    숫자나 문자열 등의 데이터를 서식을 지정하여 화면에 출력할 때 사용

In [3]:
print(10+20)
print("10"+"20") #문자열잇기
print("abc " * 3) #문자열3번출력
n = 10
print("n=%d" %n) #서식지정출력
m = 5.2
print("m=%.1f, n=%d" %(m,n)) #%.1f = 소솟점1자리까지표시

30
1020
abc abc abc
n=10
m=5.2, n=10

### input() 함수
    키보드를 이용하여 숫자나 문자열 등의 데이터를 입력 받을 때 사용한다.
    입력된 정보는 문자열

>>> n = input('type a number: ')
type a number: 3
>>> n
'3'
>>> int(n)
3
>>> n = str(3)
>>> n
'3'

## 기본 자료형

### 부울혈
    참 또는 거짓 중 하나의 값을 갖는 자료형
    비교 결과를 저장할 때 사용

In [2]:
aVar = True
bVar = False
type(aVar)

a = 1
b = 2
c = a > b
c

False

In [3]:
aVar = True
bVar = False
type(aVar)

a = 1
b = 2
d = a < b
d

True

### 정수형
    소수점이 없는 숫자 표현

In [4]:
intVar = 5
type(intVar)

int

### 실수형

In [5]:
fVar = 1.0
type(fVar)

float

### 문자열
    나열된 문자들
    '' 또는 ""로 둘러 쌈

In [9]:
strVar = "test"
type(strVar)

'This is a literal string'
"This is another string"

'This is another string'

## 연산자

### 지정 연산자 (할당연산자)

In [10]:
i = 3
i = i + 2

### 산술 연산자
    사칙연산자: + - * /
    정수나눗셈: //
    나머지 연산: %

In [13]:
a = 10
b = 3
c = a % b
d = a // b
e = a / b
c, d, e

(1, 3, 3.3333333333333335)

### 관계 연산자
    비교연산자
    항의 대소관계 또는 동등관계 판정
    연산결과는 참 또는 거짓으로 나온다.

In [14]:
score = 95
print(score >= 90) #90점이상이면 True, 아니면 False
print(score < 80) #80점미만이면 True, 아니면 False
print(score == 90) #90점이면 True, 아니면 False
print(score != 80) #80점이 아니면 True, 아니면 False

True
False
False
True

### 논리 연산자
    논리곱, 논리합, 논리부정
    논리 연산의 대상은 참 또는 거짓 결과도 참 또는 거짓으로 나온다.

>>> exam = 85
>>> report = 85
>>> exam >= 80 and report >= 80
Ture
>>> exam >= 90 of report >= 90
False
>>> not(exam < 90)
False

### 멤버 연산자
    특정 문자열 또는 값이 문자열 또는 리스트에 속해 있는지 판별하는 연산자

>>> 'py' in 'python'
Ture
>>> 'ty' not in 'python'
Ture

### 식별 연산자
    is : 양쪽변수의주소가같은지판단. if id(a) == id(b)
    is not : 양쪽변수의주소가다른지판단. if id(a) != id(b)

>>> a = 2
>>> b = 2
>>> id(a)
140715357795272
>>>if(b)
140715357795272